.content {
  width: 830px;
  text-align: start;
}

@media screen and (max-width: 1184px) {
  .content {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 320px;
  }
}
