.intro__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 830px;
  width: 100%;
  margin-top: 92px;
}

.intro__text_cita {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 738px;
  width: 100%;
  margin-top: 39.98px;
}

.intro__text_autor {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  max-width: 732px;
  width: 100%;
}

.intro__text_info {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 722px;
  width: 100%;
  margin-top: 31.99px;
}

@media screen and (max-width: 1184px) {
  .intro__title {
    font-size: 45px;
    line-height: 49px;
    margin-top: 90px;
    max-width: 707px;
    width: 100%;
  }
  .intro__text_cita {
    max-width: 720px;
    width: 100%;
    margin-top: 50px;
  }
  .intro__text_autor {
    width: 720px;
    width: 100%;
  }
  .intro__text_info {
    max-width: 720px;
    width: 100%;
    margin-top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    width: 100%;
    margin-top: 64px;
  }
  .intro__text_cita {
    line-height: 30px;
    max-width: 288px;
    width: 100%;
    margin-top: 40px;
  }
  .intro__text_autor {
    max-width: 288px;
    width: 100%;
  }
  .intro__text_info {
    max-width: 288px;
    width: 100%;
  }
}
